@{
    ViewBag.Title = "NotAuthonticated";
}
<div class="counters">
    <div class="container">
        <div class="row">
            <h2 style="color:red;font-weight:bolder">@UMoveNew.Views.Admin.NotAuthonticated.NotAuthonticate</h2>
        </div>
    </div>
</div>