
@{
    ViewBag.Title = "Animals";
}
<div class="counters">
    <div class="container">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3>
                        <span>WHAT TYPE OF ANIMAL?</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4"><h3></h3></div>

                    </div>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">

                            <div class="widget_pw_icon_box margin-bottom-30">
                                <a target="_self" href="~/Trips/create" class="icon-box">

                                    <h4 class="icon-box__title">Cats</h4>

                                </a>
                            </div><!-- /.widget_pw_icon_box -->



                        </div><!-- /.col -->

                        <div class="col-sm-4">

                            <div class="widget_pw_icon_box margin-bottom-30">
                                <a target="_self" href="~/Trips/create" class="icon-box">

                                    <h4 class="icon-box__title">Dogs</h4>

                                </a>
                            </div><!-- /.widget_pw_icon_box -->



                        </div><!-- /.col -->
                        <div class="col-sm-2"></div>



                    </div><!-- /.col -->


                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">

                        <div class="widget_pw_icon_box margin-bottom-30">
                            <a target="_self" href="~/Trips/create" class="icon-box">

                                <h4 class="icon-box__title">Horses</h4>

                            </a>
                        </div><!-- /.widget_pw_icon_box -->


                        
                    </div><!-- /.col -->

                    <div class="col-sm-4">
                        
                        <div class="widget_pw_icon_box margin-bottom-30">
                            <a target="_self" href="~/Trips/create" class="icon-box">

                                <h4 class="icon-box__title">Livestock & Other Animals</h4>

                            </a>
                        </div><!-- /.widget_pw_icon_box -->



                    </div><!-- /.col -->
                    <div class="col-sm-2"></div>



                </div><!-- /.col -->


            </div>
        </div>
    </div>
</div>


