
@{
    ViewBag.Title = "Moves";
}
<div class="counters">
    <div class="container">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3>
                        <span>WHAT TYPE OF HOME OR OFFICE MOVE?</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4"><h3></h3></div>

                    </div>
                    <div class="row">

                        <div class="col-sm-4">

                            <div class="widget_pw_icon_box margin-bottom-30">
                                <a target="_self" href="~/Trips/createMove/1" class="icon-box">
                                    <i class="number-counter__icon fa fa-archive"></i>
                                    <h4 class="icon-box__title">Small Studio</h4>

                                </a>
                            </div><!-- /.widget_pw_icon_box -->



                        </div><!-- /.col -->

                        <div class="col-sm-4">

                            <div class="widget_pw_icon_box margin-bottom-30">
                                <a target="_self" href="~/Trips/createMove/2" class="icon-box">
                                    <i class="fa fa-cube"></i>
                                    <h4 class="icon-box__title">Large Studio/1BR Apt</h4>

                                </a>
                            </div><!-- /.widget_pw_icon_box -->



                        </div><!-- /.col -->
                        <div class="col-sm-4">

                            <div class="widget_pw_icon_box margin-bottom-30">
                                <a target="_self" href="~/Trips/createMove/3" class="icon-box">
                                    <i class="fa fa-cube"></i><i class="fa fa-cube"></i>
                                    <h4 class="icon-box__title">2BR Apartment</h4>

                                </a>
                            </div><!-- /.widget_pw_icon_box -->



                        </div><!-- /.col -->


                    </div>
                    <div class="row">

                        <div class="col-sm-4">

                            <div class="widget_pw_icon_box margin-bottom-30">
                                <a target="_self" href="~/Trips/createMove/4" class="icon-box">
                                    <i class="fa fa-cubes"></i>
                                    <h4 class="icon-box__title">3BR House</h4>

                                </a>
                            </div><!-- /.widget_pw_icon_box -->



                        </div><!-- /.col -->

                        <div class="col-sm-4">

                            <div class="widget_pw_icon_box margin-bottom-30">
                                <a target="_self" href="~/Trips/createMove/5" class="icon-box">
                                    <i class="fa fa-database"></i>
                                    <h4 class="icon-box__title">4BR+ House</h4>

                                </a>
                            </div><!-- /.widget_pw_icon_box -->



                        </div><!-- /.col -->
                        <div class="col-sm-4">

                            <div class="widget_pw_icon_box margin-bottom-30">
                                <a target="_self" href="~/Trips/createMove/6" class="icon-box">
                                    <i class="fa fa-fax"></i>
                                    <h4 class="icon-box__title">Office</h4>

                                </a>
                            </div><!-- /.widget_pw_icon_box -->



                        </div><!-- /.col -->


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

